body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background.png') no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

h2 {
    text-align: center;
    color: green;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

.form-step {
    display: none;
    flex-direction: column;
    animation: fadeIn 0.5s forwards;
}

.form-step.active {
    display: flex;
}

.form-pair {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    width: 50%;
    transition: background-color 0.3s;
    animation: bounce 0.5s forwards;
}

button:hover {
    background-color: #218838;
}

button:active {
    transform: scale(0.98);
    transition: transform 0.1s;
}

.hidden {
    display: none;
}

#thankYouMessage {
    text-align: center;
    margin-top: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
